.env
thumbnails
tmp
__pycache__
*.secret
sources.txt
completed.txt
maybe.txt
haitus.txt
backup
convert
sample
temp.txt
*.db
*.db-shm
*.db-wal
*.db-journal
dev
pythondev
markdown
config
config_backup*
*backup/thumbnails/
*.bak
ereader_cache
